<div class="container">
  <% if @transaction.errors.any? %>
    <% @transaction.errors.full_messages.each do |error| %>
      <p class="alert alert-danger"><strong><%= error %></strong></p>
    <% end %>
  <% end %>
  <% if flash[:warning] %>
    <div class="alert alert-warning" role="alert"><%= flash[:warning] %></div>
  <% end %>

  <%= form_for @transaction do |f| %>
    <div class="form-group">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-pencil"></span></span>
        <input type="text" name="transaction[license]" class="form-control" placeholder="Enter License Plate Number" aria-describedby="sizing-addon1" required>
      </div>

      <label class="space-20" for="transaction_customer_vehicle_type">Pick your vehicle type</label>
      <div class="row">

        <div class="col-sm-6">
          <div class="thumbnail">
            <div class="caption">
              <%= image_tag "car_wash.png", class: "img-responsive img-radio" %>
              <button type="button" class="btn btn-primary btn-radio">Car</button>
              <input type="checkbox" name="transaction[car]" id="car" class="hidden">
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="thumbnail">
            <div class="caption">
              <%= image_tag "truck_wash.png", class: "img-responsive img-radio" %>
              <button type="button" class="btn btn-primary btn-radio">Truck</button>
              <input type="checkbox" name="transaction[truck]" id="truck" class="hidden">
              <div class="row truck-options space-20">
                <div class="col-lg-6">

                  <div class="form-group">
                    <%= f.check_box :mud, {class: "form-control", id: "fancy-checkbox-mud", autocomplete: "off"} %>
                    <div class="btn-group">
                      <label for="fancy-checkbox-mud" class="btn btn-default">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span></span>
                      </label>
                      <%= f.label :mud, "Is there mud in the bed?", {class: "btn btn-default active"} %>
                    </div>
                  </div>

                  <div class="form-group">
                    <%= f.check_box :bed_down, {class: "form-control", id: "fancy-checkbox-bed", autocomplete: "off"} %>
                    <div class="btn-group">
                      <label for="fancy-checkbox-bed" class="btn btn-default">
                        <span class="glyphicon glyphicon-ok"></span>
                        <span></span>
                      </label>
                      <%= f.label :bed_down, "Is the bed down?", {class: "btn btn-default active"} %>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="form-group">
      <%= f.submit "Start Washing!", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
